
extends ./layout.jade
block contenido
	body(class="bgd")
		div(class="col-md-5 center-block no-float top-space text-left arvo divInformacion divbox")
			
			h2(class="text-center") Plataforma de Apoyo a la Toma de Decisiones

			h3 Objetivo
			p Brindar una plataforma sencilla e intuitiva que sirva de apoyo a la Toma de Decisiones Multicriterio basada en la metodología TOPSIS.
			h3 Motivación 
			p Para muchas personas, tomar decisiones importantes en la vida les supone un cierto temor o al menos incertidumbre, por si se elige incorrectamente. Cuando se trata de decidir una ocupación o unos estudios, éste proceso está cargado de inseguridad, porque sabemos que esta elección va a marcar nuestro estilo de vida y porque somos conscientes que estamos decidiendo nuestro futuro profesional y vital.
			br
			p Tomar una buena decisión consiste en trazar el objetivo que se quiere conseguir, reunir toda la información relevante y tener en cuenta las preferencias del que tiene que tomar dicha decisión. Si queremos hacerlo correctamente, debemos ser conscientes de que una buena decisión es un proceso que necesita tiempo y planificación. Por ello la única manera de tomar una buena decisión es a través de la aplicación de un buen procedimiento, o modelo de toma de decisiones, el cual nos ahorrará tiempo, esfuerzo y energía.
			br
			p Somos conscientes que la toma de decisiones es un proceso presente en todo momento y lugar, no solo es un proceso que se da en las grandes empresas, sino también en la vida cotidiana, para iniciar, modificar o terminar algo, siempre estaremos ante una situación en la que debamos decidir, pero, ¿Realizamos una correcta elección de las alternativas?
			br
			p La metodología TOPSIS forma parte de las técnicas relativamente recientes distinguidas por una distintiva receptividad debido a su inserción en diversos contextos para la toma de decisiones. Los modelos Multicriterio son más flexibles que aquellos que se rigen por uno solo adaptándose con mayor fidelidad a la demanda y a la práctica de los decisores y analistas. Se caracterizan por presentar las mejores alternativas decisorias con objeto de proponer, si bien, no las soluciones optimas, pero si las mejores soluciones para los problemas mediante análisis.
			br
			img(src="/imgs/mean.png" class='center')
			h5(class='text-center') Tecnología utilizada en el desarrollo de esta plataforma. 



		
