extends ./layout.jade
block contenido
	body(class="bgd")
		div(class="col-md-5 center-block no-float top-space text-left arvo divInformacion divbox")
			h3 Guía de Usuario
			h4 Paso 1: #[h5 Ingresar datos de Acceso.]
			img(src="/imgs/paso1.png")
			br
			h4 Paso 2: #[h5 Ingresar Criterios y Pesos.]
			img(src="/imgs/paso2.png")
			h5(class='text-center') Nota: Los valores decimales deben ir separados por coma. Ingresar al menos 2 Alternativas
			br
			h4 Paso 3: #[h5 Ingresar Alternativas y Valores.]
			img(src="/imgs/paso3.png")
			br
			h4 Paso 4: #[h5 Generar Resultados.]
			img(src="/imgs/paso4.png")
			h5(class='text-center') Nota: Para un mayor detalle de los resultados, vizualizar consola del navegador. 