doctype html
html(lang="en")
	head
		title Login
		meta(charset="utf-8")
		link(href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet")
		link(href="/css/main.css" rel="stylesheet")
		link(href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css')
		link(href='css/animate.css' rel='stylesheet' type='text/css')
	body
		center
			nav(class="large-padding fondo-gris")
				ul(class="no-list mediano")
					li(class="  col-lg-2   inline-block")
						a(href="/loginExp" class="green arvo") Topsis #[small(class="lato small") Best Choice]
					li(class="col-lg-2 inline-block")
						a(href="/loginAdmin" class="green arvo") Administrador
					li(class="col-lg-2  inline-block ")
						a(href="/informacion" class="green arvo") Guía Usuario
					li(class="col-lg-2  inline-block ")
						a(href="/acercaDe" class="green arvo") Acerca de
block contenido		